<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, "Verwaltung") %>

        <h1>Übersicht der Event-Vorgänger-Nachfolger_Beziehungen</h1>

        <div style="width: auto">
          <table id="events" class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Event</th>
              <th>Vorgänger</th>
              <th>Nachfolger</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>

            <tbody>
            <% @event_job_job_associations.each do |event_job_job_association| %>
                <tr>
                  <td><%= event_job_job_association.event.name %></td>
                  <td><%= event_job_job_association.predecessor.name %></td>
                  <td><%= event_job_job_association.successor.name %></td>
                  <td><%= link_to 'Anzeigen', event_job_job_association %></td>
                  <td><%= link_to 'Ändern', edit_event_job_job_association_path(event_job_job_association) %></td>
                  <td><%= link_to 'Entfernen', event_job_job_association, method: :delete, data: { confirm: 'Möchten Sie diesen Eintrag sicher entfernen?' } %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <br>
          <%= button_to 'Neue Event-Vorgänger-Nachfolger-Beziehungen anlegen', new_event_job_job_association_path, method: :get, :class => "btn btn-primary"  %>
          <br><br>
          <%= link_to 'Zurück zur Eventplanung', tcpsp_path %>
        </div>
    <%end%>
<%end%>