<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, "Verwaltung") %>

        <h1>Neue Event-Vorgänger-Nachfolger-Beziehungen</h1>

        <%= render 'form' %>

        <%= link_to 'Zurück', event_job_job_associations_path %>
    <% end %>
<% end %>