<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, "Verwaltung") %>

        <h1>Neue Event-Vorgangs-Endzeitpunkte</h1>

        <%= render 'form' %>

        <%= link_to 'Zurück', event_job_period_associations_path %>
    <% end %>
<% end %>