<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, "Verwaltung") %>

        <p id="notice"><%= notice %></p>

        <p>
          <strong>Event:</strong>
          <%= @event_job_period_association.event.name%>
        </p>

        <p>
          <strong>Vorgang:</strong>
          <%= @event_job_period_association.job.name %>
        </p>


        <%= link_to 'Ändern', edit_event_job_period_association_path(@event_job_period_association) %> |
        <%= link_to 'Zurück', event_job_period_associations_path %>
    <% end %>
<% end %>