<% provide(:title, "Über uns") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | EvenTraum</title>
</head>
<body>
<h1>Über die Gründer</h1>
<br>
<div style="text-align:right">
  <div class="image">
    <div style=><%=image_tag("Xelat.jpg", width: "140", height: "200")%></div>
    <p> Xelat Akcam</p>
  </div>

  <div class="image">
    <div style=><%=image_tag("Hayat.jpg", width: "140", height: "200")%></div>
    <p> Hayat Boulakhrif </p>
  </div>

  <div class="image">
    <div style=><%=image_tag("Nadia.jpg", width: "150", height: "200")%></div>
    <p> Nadia Kruszewski </p>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p>Die drei Gründerinnen der Event-Agentur EvenTraum sind Master-Studentinnen der Wirtschaftswissenschaft im Major Operations Management and Research an der Gottfried Wilhelm Leibniz Universität. Die drei Damen kennen sich bereits aus dem vorangegangenen Studium, den sie erfolgreich mit dem Titel Bachelor of Science abgeschlossen haben.
</p>
<br>
<h1>Über das Unternehmen</h1>
<p>Im Rahmen der Veranstaltung „Entwicklung von Anwendungssystemen“
  am <a href="http://www.prod.uni-hannover.de">Institut für Produktionswirtschaft</a> bei Prof. Dr. Helber ist die Web-Applikation „EvenTraum“ entwickelt worden.<br>
  Die Event-Agentur EvenTraum beschäftigt sich mit der Planung verschiedener Events mit unterschiedlichen Abläufen und Veranstaltungsterminen. Die Web-Applikation dient der Visualisierung der Ergebnisse eines sogenannten Multi-Projekt-Planungsproblems unter zeitlichen Restriktionen, welches mit Hilfe des General Algebraic Modeling System (GAMS) gelöst wird..<br>
  Die Web-Applikation basiert auf dem <a href="http://3rd-edition.railstutorial.org/">Ruby on Rails Tutorial – Learn Web Development with Rails</a> von Michael Hartl.<br>
</p>
</body>
</html>
