<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>

        <% provide(:title, 'Eventplanung') %>
        <h1>Optimierung der Eventplanung</h1>

        <p>Hier gehts es zur Verwaltung ...</p><br>
        <div class="linkcontainer">
          <div class="centerwrapper">

            <div class="image">
              <%= link_to image_tag("Events.jpg", height: '80'), events_path %><br>
              <%= link_to "der Events!", events_path %>
            </div>

            <div class="image">
              <%= link_to image_tag("Vorgänge.png", height: '80'), jobs_path %><br>
              <%= link_to "der Vorgänge!", jobs_path %>
            </div>

            <div class="image">
              <%= link_to image_tag("Event-Vorgänger-Nachfolger_Beziehungen.png", height: '80'), event_job_job_associations_path %><br>
              <%= link_to "der Vorgänger-Nachfolger-Beziehungen der Events!", event_job_job_associations_path %>
            </div>
          </div>
        </div>
        <br><br><br><br><br><br><br><br><br>
        <div class="linkcontainer">
          <div class="centerwrapper">
            <div class="image">
              <%= link_to image_tag("Event-Vorgänger-Periode.jpg", height: '80'), event_job_period_associations_path %><br>
              <%= link_to "der Event-Vorgangs-Endzeitpunkte!", event_job_period_associations_path %>
            </div>

            <div class="image">
              <%= link_to image_tag("Perioden&Zusatzkapazitäten.png", height: '80'), periods_path %><br>
              <%= link_to "der Perioden und zur Anzeige der Zusatzkapazitäten!", periods_path %>
            </div>

            <div class="image">
              <%= link_to image_tag("gams.jpg", height: '80'), gams_paths_path %><br>
              <%= link_to 'des GAMS-Pfads!', gams_paths_path %>
            </div>
          </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br>

        <%= button_to "Ergebnisse entfernen", {:controller => 'event_job_period_associations', :action => 'delete_old_plan'},{:class => "btn btn-primary"} %>
        <br><div style="text-align:center"><%=image_tag("pfeil.png", size: "50")%></div><br>
        <%= button_to "Eventplanung optimieren", {:controller => 'event_job_period_associations', :action => 'optimize'},{:class => "btn btn-primary"} %>
        <br><div style="text-align:center"><%=image_tag("pfeil.png", size: "50")%></div><br>
        <%= button_to "Ergebnisse einlesen", {:controller => 'event_job_period_associations', :action => 'read_optimization_results'},{:class => "btn btn-primary"} %>

        <% if @objective_function_value!=nil %>
            Die Kosten betragen <%=   @objective_function_value %> Geldeinheiten!<br><br>
        <% end %>
    <% end %>
<% end %>