<% if logged_in? %>
    <% if current_user.admin? && !current_user?(users_path) %>
        <% provide(:title, "Verwaltung") %>

        <h1>Aktualisierung der Vorgänge</h1>

        <%= render 'form' %>

        <%= link_to 'Anzeigen', @job %> |
        <%= link_to 'Zurück', jobs_path %>
    <% end %>
<% end %>