<% provide(:title, "Verwaltung") %>

<% if logged_in? %>

    <div class="alert alert-success fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Herzlichen Dank!</strong> Ihr Auftrag wurde erfolgreich erstellt. Sie haben eine Bestätigungsemail erhalten. In Kürze werden wir Sie kontaktieren.
    </div>

    <p>
      <strong>Anlass:</strong>
      <%= @event.name %>
    </p>

    <p>
      <strong>Persönliche Wünsche:</strong>
      <%= @event.eventtext %>
    </p>

    <p>
      <strong>Anzahl der Gäste:</strong>
      <%= @event.guest %>
    </p>

    <p>
      <strong>Datum des Events:</strong>
      <%= @event.deadline %>
    </p>


    <%= link_to 'Ändern', edit_event_path(@event) %> |
    <%= link_to 'Zurück', events_path %>
<% end %>
